.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.gradientBackground {
  background: rgb(255, 221, 246);
  background: linear-gradient(
    90deg,
    rgba(255, 221, 246, 1) 0%,
    rgba(198, 242, 245, 1) 72%,
    rgba(210, 250, 255, 1) 100%
  );
}
.gradientBackground {
  background: #f9fafe;
}
.headerBackground {
  background: rgb(255, 221, 246);
  background: linear-gradient(
    90deg,
    rgba(255, 221, 246, 1) 0%,
    rgba(198, 242, 245, 1) 72%,
    rgba(210, 250, 255, 1) 100%
  );
}
